<% include ./partials/header %>

<style type="text/css">
  .container{
  margin-top: 7.0em;
}
</style>

<h3>Create Plate Number</h3>
<form method="POST" action="/plate/createplate">

    <select class="custom-select" name="plates[lgaId]">
            <option selected>Select Local Govt</option>
            <% lgas.forEach(function (lga){ %>

            <option value="<%= lga._id%>" ><%= lga.name%></option>
            <% }) %>                     
    </select>

        <div class="form-group">
          <label >Number of Plates</label>
          <input type="number" name="plates[amount]" class="form-control" required>
        </div>
        
        <button type="submit" class="btn btn-primary">Create Plates</button>
</form>
<% include ./partials/footer %>